Xft.dpi: 96
Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.hinting:true
Xft.hintstyle: hintfull
Xft.rgba: rgb
*customization: -color

URxvt.saveLines: 1000
URxvt.scrollBar: off
URxvt.font: xft:Bitstream Vera Sans Mono:pixelsize=13:scalable=true:antialias=true
URxvt.perl-ext-common:  default,matcher
URxvt.urlLauncher:      conkeror
URxvt.matcher.button:   1 
URxvt.inputMethod: ibus  
URxvt.preeditType: OnTheSpot,None

#include "/home/jay/Dev/dist/solarized/xresources-colors-solarized/Xresources"
