<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.logmein.GoToMeeting.G2MUpdate</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/jay/Library/Application Support/LogMeInInc/GoToMeeting/G2MUpdate</string>
	</array>
	<key>StartInterval</key>
	<integer>3660</integer>
</dict>
</plist>
