<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.epicgames.launcher</string>
		<key>ProgramArguments</key>
		<array>
			<string>open</string>
			<string>/Applications/Epic Games Launcher.app</string>
			<string>--args</string>
			<string>-silent</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
		<key>LimitLoadToSessionType</key>
		<string>Aqua</string>
	</dict>
</plist>