<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.valvesoftware.steamclean</string>
	<key>Program</key>
	<string>/Users/jay/Library/Application Support/Steam/SteamApps/steamclean</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/jay/Library/Application Support/Steam/SteamApps/steamclean</string>
		<string>Public</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>SteamContentPaths</key>
	<array>
		<string>/Users/jay/Library/Application Support/Steam/SteamApps</string>
	</array>
	<key>ThrottleInterval</key>
	<integer>60</integer>
	<key>WatchPaths</key>
	<array>
		<string>/Applications/Local/Steam.app</string>
		<string>/Users/jay/Library/Application Support/Steam/Steam.AppBundle/Steam</string>
	</array>
</dict>
</plist>
